In [ ]:
%load_ext autoreload
%autoreload 2

In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.spatial.distance import cdist
#from src.visualization import visualize_clusters

ModuleNotFoundError: No module named 'src'

In this week's exercise we will be using the clustering methods k-Means and DBSCAN. First, the simplicity of implementing k-Means is shown, then different initialization techniques are compared and finally DBSCAN is applied on the data.


## 1 The k-Means algorithm

To get a grip on k-Means, you might implement two parts of the algorithm:

**_update_clusters**
- As parameters, the function gets a DataFrame ($n \times d$) containing the dataset and a DataFrame/matrix ($k \times d$) containing the $k$ means
- It returns an array of length $n$, containing a cluster label for each sample (row) of the data set 

**_update_means**
- This gets the DataFrame ($n \times d$) containing the dataset as well as an array of length $n$ containing the cluster label of each sample as parameters
- It returns a DataFrame/matrix of size $k \times d$ containing $k$ updated means 

<br>
Some Hints:
- https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.spatial.distance.cdist.html
- https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.argmin.html
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

Feel free to add import statements!

In [87]:
# Implement _update_clusters and _update_means

df = pd.read_csv('fifa1.csv')
fts = ['Interceptions', 'Long shots']

def myKMeans(data, k, iterations):
    means = _init_means(data, k)
    clusters = _update_clusters(data, means)

    for i in range(iterations):
        means = _update_means(data, clusters,k)
        clusters = _update_clusters(data, means)
    return clusters


def _init_means(data, k):
    min_values = data.min()
    max_values = data.max()
    means = np.random.uniform(min_values, max_values, (k, data.shape[1]))
    return means


def _update_clusters(data, means):
    distances = np.sqrt(((data.values - means[:, np.newaxis])**2).sum(axis=2))
    cluster_nr = np.argmin(distances, axis=0)
    return cluster_nr


def _update_means(data, clusters,k):
    new_means= np.array([data.values[clusters==a].mean(axis=0) for a in range(k)])          
    return new_means

clust = (myKMeans(df[fts],3,4))
#df["Clust"] = clust
#print(df)

                    Name  Age          Nationality  Overall  Potential  \
0      Cristiano Ronaldo   32             Portugal       94         94
1               L. Messi   30            Argentina       93         93
2                 Neymar   25               Brazil       92         94
3              L. Suárez   30              Uruguay       92         92
4               M. Neuer   31              Germany       92         92
5         R. Lewandowski   28               Poland       91         91
6                 De Gea   26                Spain       90         92
7              E. Hazard   26              Belgium       90         91
8               T. Kroos   27              Germany       90         90
9             G. Higuaín   29            Argentina       90         90
10          Sergio Ramos   31                Spain       90         90
11          K. De Bruyne   26              Belgium       89         92
12           T. Courtois   25              Belgium       89         92
13            A. Sánchez   28                Chile       89         89
14             L. Modrić   31              Croatia       89         89
15               G. Bale   27                Wales       89         89
16             S. Agüero   29            Argentina       89         89
17          G. Chiellini   32                Italy       89         89
18             G. Buffon   39                Italy       89         89
19             P. Dybala   23            Argentina       88         93
20              J. Oblak   24             Slovenia       88         93
21          A. Griezmann   26               France       88         91
22                Thiago   26                Spain       88         90
23         P. Aubameyang   28                Gabon       88         88
24            L. Bonucci   30                Italy       88         88
25            J. Boateng   28              Germany       88         88
26              D. Godín   31              Uruguay       88         88
27            M. Hummels   28              Germany       88         88
28               M. Özil   28              Germany       88         88
29             H. Lloris   30               France       88         88
...                  ...  ...                  ...      ...        ...
17046           M. Hurst   21             Scotland       48         58
17047       A. Osmanoski   17        FYR Macedonia       48         68
17048          K. Cotter   18              England       48         67
17049        T. Robinson   19              England       48         64
17050          R. Hughes   18             Scotland       48         63
17051        Z. Mohammed   17              England       48         64
17052         D. Peppard   17  Republic of Ireland       47         61
17053          C. Rogers   17  Republic of Ireland       47         59
17054      N. McLaughlin   18             Scotland       47         64
17055           L. Kiely   18  Republic of Ireland       47         69
17056   J. Latibeaudiere   17              England       47         73
17057           J. Payne   18              England       47         63
17058          G. Manley   19  Republic of Ireland       47         58
17059        P. Phillips   18  Republic of Ireland       47         67
17060           A. Byrne   18  Republic of Ireland       47         61
17061        K. Fujikawa   18                Japan       47         67
17062            K. Egan   19              England       47         67
17063      T. Brownsword   17              England       47         68
17064         F. Prohart   18              Austria       47         67
17065         A. Kilgour   19              England       47         56
17066           R. White   18              England       47         65
17067          A. Conway   19  Republic of Ireland       47         63
17068          T. Sawyer   18              England       46         58
17069          J. Keeble   18              England       46         56
17070       T. Käßemodel   28              Germany       46         46
17071          A. Kelsey   17              England       46         63
17072      B. Richardson   47              England       46         46
17073           J. Young   17             Scotland       46         61
17074       J. Lundstram   18              England       46         64
17075          L. Sackey   18                Ghana       46         64

                         Club  Special  Acceleration  Aggression  Agility  \
0              Real Madrid CF     2228            89          63       89
1                FC Barcelona     2154            92          48       90
2         Paris Saint-Germain     2100            94          56       96
3                FC Barcelona     2291            88          78       86
4            FC Bayern Munich     1493            58          29       52
5            FC Bayern Munich     2143            79          80       78
6           Manchester United     1458            57          38       60
7                     Chelsea     2096            93          54       93
8              Real Madrid CF     2165            60          60       71
9                    Juventus     1961            78          50       75
10             Real Madrid CF     2153            75          84       79
11            Manchester City     2162            76          68       80
12                    Chelsea     1282            46          23       61
13                    Arsenal     2181            88          80       90
14             Real Madrid CF     2228            75          62       93
15             Real Madrid CF     2263            93          65       77
16            Manchester City     2074            90          63       86
17                   Juventus     1867            68          92       59
18                   Juventus     1335            49          38       55
19                   Juventus     2063            88          48       91
20            Atlético Madrid     1290            43          34       67
21            Atlético Madrid     2104            87          69       90
22           FC Bayern Munich     2185            77          57       90
23          Borussia Dortmund     2078            95          43       77
24                      Milan     1995            62          82       60
25           FC Bayern Munich     1989            72          82       58
26            Atlético Madrid     1930            62          86       63
27           FC Bayern Munich     2038            62          66       64
28                    Arsenal     1927            75          48       83
29          Tottenham Hotspur     1318            65          31       55
...                       ...      ...           ...         ...      ...
17046        St. Johnstone FC      991            40          20       45
17047      SpVgg Unterhaching     1377            68          53       63
17048              Luton Town     1329            67          53       64
17049           Bradford City     1257            69          26       65
17050  Hamilton Academical FC     1330            59          57       62
17051      Accrington Stanley     1167            62          41       43
17052             Bohemian FC     1199            56          59       52
17053          Bray Wanderers     1189            60          41       46
17054    Partick Thistle F.C.     1330            69          52       54
17055         Shamrock Rovers     1290            43          47       47
17056         Manchester City     1132            57          45       44
17057                  Barnet     1219            65          43       64
17058               Cork City     1298            57          59       58
17059               Cork City     1297            56          51       51
17060               Cork City     1346            58          54       59
17061            Júbilo Iwata     1317            59          55       50
17062             Exeter City     1225            63          51       57
17063               Morecambe     1143            55          47       49
17064          Wolfsberger AC     1238            62          27       69
17065          Bristol Rovers     1208            52          56       60
17066        Bolton Wanderers     1265            51          33       51
17067           Galway United     1314            60          44       47
17068            Grimsby Town     1267            65          43       57
17069            Grimsby Town     1105            66          40       45
17070       FC Erzgebirge Aue     1174            25          52       40
17071       Scunthorpe United      755            24          16       38
17072       Wycombe Wanderers      832            25          44       35
17073            Swindon Town     1194            66          26       60
17074         Crewe Alexandra     1302            57          46       58
17075       Scunthorpe United     1031            48          52       49

       ...    Sliding tackle  Sprint speed  Stamina  Standing tackle  \
0      ...                23            91       92               31
1      ...                26            87       73               28
2      ...                33            90       78               24
3      ...                38            77       89               45
4      ...                11            61       44               10
5      ...                19            83       79               42
6      ...                13            58       40               21
7      ...                22            87       79               27
8      ...                69            52       77               82
9      ...                18            80       72               22
10     ...                91            77       84               89
11     ...                40            75       87               51
12     ...                16            52       38               18
13     ...                35            84       85               39
14     ...                73            71       82               80
15     ...                52            95       76               55
16     ...                12            84       74               20
17     ...                90            78       68               92
18     ...                11            43       39               11
19     ...                20            84       83               20
20     ...                18            60       41               12
21     ...                11            86       76               22
22     ...                62            68       75               64
23     ...                36            96       79               25
24     ...                88            72       73               88
25     ...                90            78       74               91
26     ...                89            67       67               86
27     ...                90            65       66               92
28     ...                19            68       69               16
29     ...                18            63       41               10
...    ...               ...           ...      ...              ...
17046  ...                16            42       33               15
17047  ...                44            68       61               36
17048  ...                45            65       60               39
17049  ...                25            57       48               25
17050  ...                50            49       40               44
17051  ...                47            55       57               52
17052  ...                44            52       51               46
17053  ...                46            56       48               48
17054  ...                31            68       64               33
17055  ...                47            62       38               38
17056  ...                47            54       62               52
17057  ...                48            63       62               46
17058  ...                47            49       42               45
17059  ...                53            51       44               44
17060  ...                48            64       59               44
17061  ...                54            58       37               44
17062  ...                46            54       60               46
17063  ...                54            63       59               51
17064  ...                18            65       55               20
17065  ...                43            55       61               46
17066  ...                15            56       53               13
17067  ...                43            58       52               48
17068  ...                41            64       55               39
17069  ...                49            60       52               52
17070  ...                38            22       30               36
17071  ...                10            32       28               11
17072  ...                13            25       32               12
17073  ...                14            51       33               17
17074  ...                47            58       49               48
17075  ...                43            49       55               44

       Strength  Vision  Volleys  Value Euro  Wage Euro  Clust
0            80      85       88    95500000     565000      2
1            59      90       85   105000000     565000      2
2            53      80       83   123000000     280000      2
3            80      84       88    97000000     510000      2
4            83      70       11    61000000     230000      1
5            84      78       87    92000000     355000      2
6            64      68       13    64500000     215000      1
7            65      86       79    90500000     295000      2
8            74      88       82    79000000     340000      0
9            85      70       88    77000000     275000      2
10           81      63       66    52000000     310000      0
11           73      90       82    83000000     285000      0
12           70      44       12    59000000     190000      1
13           72      83       83    67500000     265000      2
14           58      90       74    57000000     340000      0
15           80      79       76    69500000     370000      0
16           74      83       85    66500000     325000      2
17           91      50       45    38000000     225000      0
18           69      50       17     4500000     110000      1
19           65      84       88    79000000     215000      2
20           78      55       13    57000000      82000      1
21           61      76       87    75000000     150000      2
22           59      86       90    70500000     225000      0
23           77      77       86    61000000     165000      2
24           85      74       58    44000000     210000      0
25           91      76       53    48000000     215000      0
26           80      52       47    40000000     125000      0
27           85      79       60    48000000     215000      0
28           57      92       77    60000000     265000      2
29           43      30       11    38000000     165000      1
...         ...     ...      ...         ...        ...    ...
17046        58      20       14       40000       1000      1
17047        58      42       32       60000       1000      1
17048        49      45       38       60000       1000      1
17049        51      42       37       60000       1000      1
17050        52      47       28       60000       1000      1
17051        63      32       20       50000       1000      1
17052        36      38       28       50000       1000      1
17053        57      32       21       40000       1000      1
17054        58      47       41       60000       1000      1
17055        49      53       42       70000       1000      1
17056        45      27       20       60000       5000      1
17057        60      32       26       50000       1000      1
17058        46      47       30       50000       1000      1
17059        50      51       31       60000       1000      1
17060        31      40       37       60000       1000      1
17061        42      51       31       60000       1000      1
17062        63      32       23       60000       1000      1
17063        50      32       21       60000       1000      1
17064        41      47       36       60000       1000      2
17065        68      31       19       40000       1000      1
17066        61      48       35       60000       2000      2
17067        48      40       33       60000       1000      1
17068        40      40       33       50000       1000      1
17069        42      28       24       40000       1000      1
17070        37      43       34       30000       1000      1
17071        50      26        6       50000       1000      1
17072        47      17       12           0       1000      1
17073        32      37       33       60000       1000      2
17074        46      51       25       60000       1000      1
17075        67      22       19       50000       1000      1

[17076 rows x 44 columns]

In [ ]:
data = pd.read_csv('fifa1.csv')
fts = ['Interceptions', 'Long shots']

Test your implementation by clustering the features 'Interceptions' and 'Long shots'. <br>
Try different values for $k$ and visualize the results, using the provided function *visualize_clusters()*. Which $k$ seems to produce the best result? Also calculate the Silhouette Coefficient (http://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_score.html). Does it confirm your intuition?

In [95]:
# Use your k-Means implementation and visualize the results. Print the silhouette score.
clust = (myKMeans(df[fts],3,4))
df["Cluster"] = clust

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## 2 Different initializations of k-Means

Take a look at the influence of different initializations of the k-Means algorithm. For this, compare random initialization with the '*k-means++*' initialization (https://en.wikipedia.org/wiki/K-means%2B%2B). Use the sklearn implementation of k-Means <br>(http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html) and run the algorithm with: 
- 1, 2, 3, 4, 5, 10, 20 as the maximum number of iterations (*max_iter*)
- 10 initializations each (*n_init*)
- and a convergence tolerance of 0 (*tol*).

For both initialization methods, plot the final value of the objective function (*inertia_*) against the number of iterations in line plots of different colors.

What do you observe?

In [ ]:
# Use the sklearn implementation of k-Means and plot the objective function for both initialization methods.

## 3 Density based clustering: DBSCAN

Finally we compare the results of k-Means, as a distance based clustering with the results of DBSCAN as a density based clustering method. Again we use the features 'Interceptions' and 'Long shots'. 

To do so, estimate a suitable value for $\epsilon$.
Set *MinPts=30* (necessary because the data is relativaly dense and low dimensional) and use a k-distance plot for estimating a proper range for $\epsilon$. For creating this plot, we propose the following steps:
- use the *kneighbors_graph()* function of sklearn for getting the distance of each point to its $k$ (*MinPts*) neighbors <br>
(http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.kneighbors_graph.html)
- convert the result to a 2d array (*.toarray()*)
- get the maximum of each row
- sort these values and create the plot

In [ ]:
# Follow the suggested steps to plot a k-distance plot.

Use the estimated parameter range for DBSCAN (http://scikit-learn.org/stable/modules/generated/sklearn.cluster.DBSCAN.html). Again, visualize the result by using *visualize_clusters()*. Adjust the parameters to get better results and create one plot with and one without the detected noise (it has cluster label < 0).

In [ ]:
# Run DBSCAN

In [ ]:
# Visualization with noise

In [ ]:
# Visualization without noise

----

Afterwards: *Nicely done!* :)

And (if you want) an extra: Can you find other clusters in the data? Which dimensions could be used?